<div class="content-wrapper">
    <section id="content-header">
        <h1>Lista de Usuarios</h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="/admin/users">Usuarios</a></li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">

                    <div class="box-header">
                        <a href="/admin/users/create" class="btn btn-success">Cadastrar Usuario</a>
                    </div>

                    <div class="box-body no-padding">
                        <table class="table-striped table">
                            <thead>
                            <tr>
                                <th style="widows: 10px;">#</th>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Login</th>
                                <th style="width: 60px;">Admin</th>
                                <th style="width: 140px;">&nbsp</th>
                            </tr>
                            </thead>
                            <tbody>
                            {loop="$users"}
                            <tr>
                                <td>{$value.iduser}</td>
                                <td>{$value.desperson}</td>
                                <td>{$value.desemail}</td>
                                <td>{$value.deslogin}</td>
                                <td>{if="$value.inadmin == 1"}Sim{else}Não{/if}</td>
                                <td>
                                    <a href="/admin/users/{$value.iduser}" class="btn-primary btn-xs"><i class="fa fa-edit"></i>Editar</a>
                                    <a href="/admin/users/{$value.iduser}/delete" onclick="return confirm('DESEJA EXLUIR O USUARIO ?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>Deletar</a>
                                </td>
                            </tr>
                            {/loop}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>